<!DOCTYPE html>
<html>
  <head>
    <title>The Art of Living</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <style>
    #banner{
      height: 360px;
      width: 100%;
      object-fit: cover;
    }
  </style>
  </head>
 
    
  <body>
    {% include 'nav.html' %}
     
    <img id="banner" src="https://jovian-careers-website.supritakanwat.repl.co/static/banner.jpg" class="img-fluid">
    
    <div class="container float-middle ml-20 mr-20">
      
      <h1 class="text-center mt-4 mb-4">About</h1>
     
      <div class="row" style="margin-bottom:32px">
        <div class="col-md-8">
          <p class="lead">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, seddo eiusmod tempor incididunt ut labore et dolore magna       aliqua. Faucibus interdum posuere lorem ipsum dolor sit. Odio tempor orci dapibus ultrices in iaculis nunc sed. Pellentesque elit eget gravida cum sociis. Est lorem ipsum dolor sit amet consectetur adipiscing elit. Purus in massa tempor nec feugiat nisl pretium fusce. Semper viverra nam libero justo laoreet sit. Eget nulla facilisi etiam dignissim diam quis enim lobortis. Tellus in hac habitasse platea dictumst vestibulum rhoncus est pellentesque. Bibendum at varius vel pharetra vel turpis. Erat pellentesque adipiscing commodo elit at.
          </p>
        </div>

        <div class="d-none d-md-block col-4">
          <img src="/static/people.jpg" style="height:290px; border-radius:4px;">
        </div> 
      </div>
      
      <h2 class="text-center mt-2 mb-4">Courses</h2>
      
      <div>
        {% for nick in jobs %}
          {% include 'jobitem.html' %}
        {% endfor %}
      </div>
      
        <div class="text-center">
          <a href="mailto:supritakanwat@gmail.com?subject=You're%20the%20best!&body=Hey%20Suprita%20%0D%0A%0D%0AYou're%20amazing!">
            <button class="btn btn-primary btn-lg">Mail Us</button>
          </a>
        </div>
     
      </div>
      
    {% include 'footer.html' %}
    
  </body>
</html>