          <div class="border-bottom row" style="margin-bottom:20px; padding-bottom:8px;">
           
            <div class="col-9">
              
              <h4 style="color:rgb(120,120,120), margin-bottom:2px;">
                {{nick['title']}}
              </h4>
              
              <div>
                <b>Location:</b> {{nick['location']}}
              </div>
            
              {% if 'salary' in nick %}
                <div>
                  <b>Salary:</b>{{nick['salary']}}
                </div>
              {% endif %}
            
            </div>           

            <div class="col-3">
               <a href="https://google.com">
                 <button type="button" class="btn btn-outline-primary float-right">
                   Apply
                 </button>
               </a>
            </div>
              
            </div>